/* Add custom css here */
#content {
    background:white;
}

.results_text {
    display: block;
    position: relative;
    height: 60px;
    overflow: hidden;
    z-index: 1;
}
.results_text:after {
   content: " ";
    position: absolute;
    top: 46px;
    left: 0;
    height: 15px;
    width: 100%;
    display: inline-block;
}

tr:nth-of-type(odd) .results_text:after {
    background: linear-gradient(0deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0));
}
tr:nth-of-type(even) .results_text:after {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

@font-face{font-family:'FontAwesome';src:url("/fonts-search/fontawesome-webfont.eot?v=4.7.0"),
        url("/fonts-search/fontawesome-webfont.eot?v=4.7.0") format("embedded-opentype"),
        url("/fonts-search/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("/fonts-search/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("/fonts-search/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("/fonts-search/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal
}

.facetview_orderby {
    display:none;
}

#portal-header, #footer-wrapper, #portal-colophon, .visualization-info, #header-holder, .visualization-date {
    display:none;
}
.facet-view-simple{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 1687px;
}

.ui-dialog-titlebar {
    border:none;
    background-color:white !important;
}

.ui-dialog {
    border:none;
    background-color:white !important;
    padding:0;
    background:none;
}

.ui-button {
    border:none !important;
    background-color:white !important;
}

#detailsmodal {
    padding:0;
}

body, html {
    background-color:white !important;
}

.facetedview_search {
    display: none;
}

.facetview_download.filter-by a:first-child{
    display: none;
}