a.details_link {
    text-decoration:underline;
}
a.details_link:visited {
    color: #346f83;
}
.eea-pam-element{
  max-height:45px;
  overflow:hidden;
}

.facetview_display_type, .facetview_orderby {
    display: none;
}

#content {
    background: #FFF none;
}

ul.ui-autocomplete li.autocomplete_facet_value span.facet_label_text {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

ul.ui-autocomplete li.autocomplete_facet_value {
    width: 100%;
}

ul.ui-autocomplete .ui-menu-item {
    background-color:white;
    width:100%;
}

#facetview_results th div {
    height:72px !important;
}
