a.details_link {
    text-decoration:underline;
}
a.details_link:visited {
    color: #346f83;
}
.eea-pam-element{
  max-height:45px;
  overflow:hidden;
}

.facetview_display_type, .facetview_orderby {
    display: none;
}


/* #89768 show ellipsis for pam table listing if we have more than 3 lines of text */
/*#facetview_results th {*/
    /*padding: 0.5em;*/
/*}*/
/*#facetview_results td {*/
    /*min-width: 175px;*/
/*}*/
#facetview_results td {
    text-align: left;
}
#facetview_results a {
    padding-right: 1em;
    display: block;
}
.results_text {
    max-width: 200px;
    display: block;
    position: relative;
    max-height: 36px;
    overflow: hidden;
    z-index: 1;
}
.results_text:after {
   content: " ";
    position: absolute;
    top: 22px;
    left: 0;
    height: 15px;
    width: 100%;
    display: inline-block;
}
tr:nth-of-type(odd) .results_text:after {
    background: linear-gradient(0deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0));
}
tr:nth-of-type(even) .results_text:after {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
#content {
    background: #FFF none;
}

ul.ui-autocomplete li.autocomplete_facet_value span.facet_label_text {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

ul.ui-autocomplete li.autocomplete_facet_value {
    width: 100%;
}

ul.ui-autocomplete .ui-menu-item {
    background-color:white;
    width:100%;
}

#facetview_results th div {
    height:72px !important;
}

td[data-title="URL to main reference"] div,
td[data-title="Web link for ex-ante assessment"] div,
td[data-title="Web link for ex-post assessment"] div,
td[data-title="Web link for projected costs and benefits"] div,
td[data-title="Web link for realised costs and benefits"] div{
    width:100px;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.visualization-date {
    display: none;
}

p.no-bottom-margin,
ul li p {
    margin-bottom: 0;
}
