.facetview_include_expired {
    float:right;
    line-height:24px;
}

#facetview_results td.ribbon-parent,
a.eea-tileInner.ribbon-parent,
div.tileItem.ribbon-parent {
  position: relative;
  overflow: hidden;
}

#facetview_results td.ribbon-parent {
  height: 60px;
}

/* For now disable the tree icons on facets, as hierarchy is not working */
.jstree-default .jstree-leaf>.jstree-ocl {
    display:none;
}

#content {
    background: #FFF none;
}

.current-filters,
.facetview_include_expired,
.eea-section-trigger,
.search-suggestions,
.facetview_filters,
.facetedview_search,
.facetview_metadata,
.default_pagination {
    display: none;
}


.car_facet_checkbox[readonly] {
  pointer-events: none;
}

.car_facet_value[readonly] {
  color: gray;
}

.car_facet_count[readonly] {
  color: gray;
}

.car_facet_group_value[readonly] {
  color: gray;
}

.car_facet_checkbox{
    float:left;
}

.car_facet_value{
    float:left;
}
.car_facet_group_value{
    float:left;
}

.car_facet_count{
    float:right;
}

.car_facet_group{
    width:250px;
    float:left;
    margin-right:50px;
}

.eea-right-section {
    display:none;
}
