#facetview_trees {
    h2.facetview_showtree {
        background-color: transparent!important;
        color: $green!important;
        font-size: $filterHeading!important;
        font-weight: 500;
    }
    .facetview_tree {
        border-color: transparent!important;
        ul {
            background: white;
            li {
                background: white;
            }
        }
        
    }
    .ui-resizable-s {
        background-color: white!important;
    }
    .facetview_filter {
        // margin-top: 1rem;
    }

.eea-icon.eea-icon-right, .right-column-area .eea-icon.eea-icon-right {
    font-size: 11px!important;
}
}

h3#filters-title {
    color: $orange!important;
}


.eea-accordion-panels {
    border: none!important;
    border-top: 3px solid $orange!important;
}



.facetview_filter_options select.facet_value_operator {
    background: white;
    border-color: #eee;
    border-radius: 3px;
}

// .eea-icon.selected {
//     background: $orange;
// }


.current-filters {
    background: white;
    padding-left: 0;
}

.facetview_selection, .clear-all {
    border-radius: 4px;
    padding: 3px;
    padding-left: 16px;
    padding-right: 16px;
}

.facetview_group_title {
    color: $black;
    font-size: $small;
    span {
        font-style: unset;
    }
}

.filters-header {
    margin-bottom: 1rem;
    h2 {
        color: $green!important;
    }
}