/* Add custom css here */
@import 'variables';
@import 'fa/font-awesome';

.results_text {
    display : block;
    position: relative;
    height  : 60px;
    overflow: hidden;
    z-index : 1;
}

.results_text:after {
    content : " ";
    position: absolute;
    top     : 46px;
    left    : 0;
    height  : 15px;
    width   : 100%;
    display : inline-block;
}

tr:nth-of-type(odd) .results_text:after {
    background: linear-gradient(0deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0));
}

tr:nth-of-type(even) .results_text:after {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

@font-face {
    font-family: 'FontAwesome';
    src        : url("/fonts-search/fontawesome-webfont.eot?v=4.7.0"),
        url("/fonts-search/fontawesome-webfont.eot?v=4.7.0") format("embedded-opentype"),
        url("/fonts-search/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("/fonts-search/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("/fonts-search/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("/fonts-search/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style : normal
}

i.fa {
    font-family: FontAwesome;
}

.facetview_orderby {
    display: none;
}

#portal-header,
#footer-wrapper,
#portal-colophon,
.visualization-info,
#header-holder,
.visualization-date {
    display: none;
}

.facet-view-simple {
    width        : 100%;
    margin-right : auto;
    margin-left  : auto;
    padding-left : 2em;
    padding-right: 2em;
    max-width    : 1687px;
}

.ui-dialog-titlebar {
    border          : none;
    background-color: white !important;
}

.ui-dialog {
    border          : none;
    background-color: white !important;
    padding         : 0;
    background      : none;
}

.ui-button {
    border          : none !important;
    background-color: white !important;
}

#detailsmodal {
    padding: 0;
}

body,
html {
    background-color: #f6f6f6 !important;
}

.facetedview_search {
    display: none;
}

.facetview_download.filter-by a:first-child {
    display: none;
}


// .header-bg.contentpage {
//     display: none;
// }

div.content {
    padding: 0 !important;
    margin : 0 !important;
}

#portal-columns>.container {
    padding-left : 0 !important;
    padding-right: 0 !important;
}

#facetview {
    max-width     : calc(1300px - 4rem);
    margin        : 0 auto;
    padding       : 0 2rem;
    background    : white !important;
    padding-top   : 2rem;
    position      : relative;
    padding-bottom: 2rem;
    margin-top    : -11px;
}

.pagination {
    background   : white;
    border       : 1px solid #eee;
    border-radius: 5px;
    padding      : .3rem !important;
    max-width    : 300px;
    margin       : 1rem 0;

    ul {
        font-size: $text;

        a {
            color: $black;
        }
    }
}

.right-column-area {
    width: 30% !important;
}

#facetview_rightcol {
    width       : calc(70% - 1rem) !important;
    margin-right: 1rem !important;
}

.logo-nav-wrapper {
    margin-top : 0 !important;
    padding-top: 1rem !important;
}

#content,
.facet-view-simple {
    background: #f6f6f7 !important;
}

.ui.container {
    max-width: 1300px !important;
}

.header-image-content {
    h1 {
        color        : white !important;
        text-align   : center !important;
        border-bottom: none !important;
        margin       : 0 auto !important;
        padding      : 0 !important;
        margin-top   : 6rem !important;
    }
}

#facetview_rightcol .facetview_top .eea_download_btn {
    background   : white;
    color        : $black !important;
    border       : 1px solid #eee;
    border-radius: 4px;
}

.facetview_download {
    background-color: white;
}

.facetview_display_type.filter-by {
    .eea-icon {
        background               : white;
        color                    : black;
        border                   : 1px solid #eee;
        border-top-left-radius   : 4px;
        border-bottom-left-radius: 4px; 
        &.tabular {
            border-top-left-radius   : 0;
            border-bottom-left-radius: 0;
            border-top-right-radius   : 4px;
            border-bottom-right-radius: 4px;  
        }
    }
}

@import 'results';
@import 'filters';
@import 'modal';