.eea-list-tiles .tileItem .tileImage {
    max-width: 20%;
}

.eea-list-tiles .tileItem .tileBody {
    margin-left: 1em;
    /* height: 9em; */
    /* overflow: hidden; */
}

.image-hide {
    display: none;
}

.tileContent .logoAdapteCCA {
    height: 23px;
    display: inline;
}
