.facetview_include_expired {
  float:right;
  line-height:24px;
}

#facetview_results td.ribbon-parent,
a.eea-tileInner.ribbon-parent,
div.tileItem.ribbon-parent {
  position: relative;
  overflow: hidden;
}

#facetview_results td.ribbon-parent {
  height: 60px;
}

#content h1, div.content h1 {
  font-size: 24px;
  border-bottom: 3px solid #BDCE49;
  color: #1E1E1E;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

#portal-columns {
  margin-top: 20px !important;
}

#content .eea-accordion-panels .eea-accordion-panel > h2,
.facetview_display_type .eea-icon,
.facetview_top select,
#content .facetview_top option,
.eea-tile:hover a,
.eea-tile a,
#content a:visited, dl.portlet a:visited,
#content a:link, dl.portlet a:link,
#content h2 {
  color: #A0B228;
}

#content .eea-accordion-panels .eea-accordion-panel > h2 {
  color: #A0B228 !important;
}

#facetview_trees .jstree-clicked .jstree-checkbox:before,
#facetview_trees .jstree-clicked .jstree-checkbox,
.eea-tileTitle {
  color: #1E1E1E;
}

#content #facetview_trees .jstree-node.selected .jstree-anchor .facet_label_count,
#content .facetview_tree a {
  color: #1E1E1E !important;
}

.facetedview_search input.facetview_freetext {
  background: #eaead9 !important;
  color: #1E1E1E;
}

.facetedview_search input {
  border-radius: initial;
}

.facetedview_search .eea-icon-search {
  color: gray !important;
  left: 1px;
}

.eea-tileInner:hover, .eea-tileInner:focus {
  box-shadow: 0 0 3px 1px #A0B228;
}

.facetview_display_type .eea-icon {
  border-color: #A0B228;
}

.facetview_display_type .eea-icon.selected {
  color: white;
}

.facetview_download .eea_download_btn {
  color: white !important;
  background-color: #A0B228;
}

.facetview_download .eea_download_btn:hover {
  text-decoration: none;
  background-color: #819110;
}

div.facetview_facetrange_histogram.facetview_rangecontainer input {
  font-size: 14px;
}

div.facetview_facetrange_histogram.facetview_rangecontainer input.facetview_lowrangeval_1 {
  position: relative;
  top: -5px;
}

div.facetview_facetrange_histogram.facetview_rangecontainer .eea-icon-times {
  display: none;
}

div.pagination.paginator.listingBar li.active a {
  color: #1E1E1E !important;
}

div.pagination.paginator.listingBar li a {
  border: none !important;
}

#content .current-filters .filters-header h2 {
  border-radius: none;
  background-color: #A0B228;
}

#content .filters-header .current-filters-collapsible .filters-header__header .facetview_arrow_right {
  margin-top: 0px;
}

#content .current-filters .filters-header h2 {
  padding-top: 4px;
}

a.facetview_filterselected.facetview_clear.btn {
  position: relative;
  top: 3px;
}

a.facetview_filterselected.facetview_clear.btn .icon-white.eea-icon.eea-icon-times:before {
  margin: 0 !important;
}

div.filter-by.facetview_orderby span {
  margin-right: -3px;
}

div.facetview_display_type.filter-by span {
  position: relative;
  top: -1px;
}

#facetview_trees .jstree-checkbox:before {
  content: "\f10c";
}

select.facetview_orderby {
  position: relative;
  top: 3px;
}

ul.jstree-container-ul li {
  background-color: white !important;
}

#content .current-filters .eea-icon-right {
  width: 35px !important;
}

.eea-icon.selected, .facetview_display_type .eea-icon:hover,
#content .eea-accordion-panels .eea-accordion-panel > h2.facetview_open {
  background-color: #A0B228;
}

.facetview_download {
  background-color: white;
}

/* For now disable the tree icons on facets, as hierarchy is not working */
.jstree-default .jstree-leaf>.jstree-ocl {
  display:none;
}

/* remove draft watermark */
#content {
  background: white;
}
@font-face{font-family:'FontAwesome';src:url("/fonts-search/fontawesome-webfont.eot?v=4.7.0"),
        url("/fonts-search/fontawesome-webfont.eot?v=4.7.0") format("embedded-opentype"),
        url("/fonts-search/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("/fonts-search/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("/fonts-search/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("/fonts-search/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal
}

.footer .land-list-separated li {
  color: #1E1E1E;
  text-decoration: none;
}

.facetview_metadata .pagination {
  display: block;
}

.facet-view-simple .facetview_metadata .pagination li a {
  border: none;
  background: none;
  color: #A0B228 !important;
  margin-right: 0;
}

.eea-tile:hover .eea-tileTitle,
.facet-view-simple .facetview_metadata .pagination li a:hover {
  color: #819110 !important;
  background-color: unset;
  border-color: unset;
}

.copernicus-search #header-section {
  position: relative;
}

#content-section.simple-page .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#content-section.simple-page .container-fluid .main-content,
#content-section.simple-page .container-fluid .breadcrumbs {
  display: none;
}

.copernicus-search #eea-above-columns {
  display: none;
}

.simplified-template-footer #content-section.simple-page {
  top: 0;
}

.copernicus-search .header .main-nav-item {
  margin-bottom: 0;
}

.copernicus-search .header .main-nav-item:hover>a {
  height: 100%;
}

.copernicus-search div.container {
  padding-right: 0;
  padding-left: 18px;
}

.copernicus-search .site-container {
  margin-top: 0;
}

.copernicus-search #portal-columns {
  padding-top: 0;
}

.copernicus-search #portal-breadcrumbs {
  margin-top: 0;
}

.fullwidth.copernicus-search div.container {
  padding-left: 0;
  padding-right: 0;
}

.fullwidth.copernicus-search .footer-nav-wrapper .footer-nav {
  padding-left: 0.6rem;
}

.fullwidth.copernicus-search #content.content {
  margin: 0 !important;
  padding-bottom: 20px;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1500px) {
  .fullwidth.copernicus-search #content.content {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}

.fullwidth.copernicus-search .header .main-nav {
  margin-left: 0;
}

.copernicus-search footer {
  margin-top: 0;
}

.copernicus-search  .footer-nav-wrapper a {
  color: white;
}

.facetview_filterselected .eea-icon {
  margin-top: -2px;
}

.copernicus-search .date {
  border: none;
  font-size: 14px;
  width: auto;
  text-align: start;
  box-shadow: none;
}

#header-section .content {
  background: unset;
  margin: 0 10% 0 10% !important;
  padding: 6px 0 0 0;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}

#header-section li {
  margin-bottom: initial;
}

div.visualization-date,
.facetview_filter .facetview_filter_options {
  display: none !important;
}

#facetview_results_wrapper .eea-tiles .eea-tileHeadMetadata,
div.right-column-area h3.filters-header-title {
  display: none;
}

.facet-view-simple {
  margin-top: 2em;
}

.facet-view-simple .facetview_top {
  margin-top: 2em;
}

@media handheld, screen and (max-device-width: 480px){
  input, textarea {
    font-size: 140% !important;
    font-family: inherit !important;
  }
}

@media (max-width: 1000px) and (min-width: 570px) {
  .simplified-template-footer #content-section.simple-page {
    top: 0 !important;
  }
}

div.portalMessage.attentionMessage.no-results-message {
  margin-top: 40px;
  margin-bottom: 40px;
}

.eea-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* */
.eea-icon-lg {
  font-size: 1.333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.eea-icon-2x {
  font-size: 2em;
}
.eea-icon-3x {
  font-size: 3em;
}
.eea-icon-4x {
  font-size: 4em;
}
.eea-icon-5x {
  font-size: 5em;
}
.eea-icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.eea-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.eea-icon-ul > li {
  position: relative;
}
.eea-icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.eea-icon-li.eea-icon-lg {
  left: -1.85714286em;
}
.eea-icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.eea-icon.pull-left {
  margin-right: .3em;
}
.eea-icon.pull-right {
  margin-left: .3em;
}
.eea-icon-spin {
  -webkit-animation: eea-icon-spin 2s infinite linear;
  animation: eea-icon-spin 2s infinite linear;
}
.eea-icon-pulse {
  -webkit-animation: eea-icon-spin 1s infinite steps(8);
  animation: eea-icon-spin 1s infinite steps(8);
}
@-webkit-keyframes eea-icon-spin {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg);
}
}
@keyframes eea-icon-spin {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg);
}
}
.eea-icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.eea-icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.eea-icon-rotate-270 {
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
}
.eea-icon-flip-horizontal {
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
-webkit-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.eea-icon-flip-vertical {
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
-webkit-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}
:root .eea-icon-rotate-90,
:root .eea-icon-rotate-180,
:root .eea-icon-rotate-270,
:root .eea-icon-flip-horizontal,
:root .eea-icon-flip-vertical {
filter: none;
}
.eea-icon-stack {
position: relative;
display: inline-block;
width: 2em;
height: 2em;
line-height: 2em;
vertical-align: middle;
}
.eea-icon-stack-1x,
.eea-icon-stack-2x {
position: absolute;
left: 0;
width: 100%;
text-align: center;
}
.eea-icon-stack-1x {
line-height: inherit;
}
.eea-icon-stack-2x {
font-size: 2em;
}
.eea-icon-inverse {
color: #ffffff;
}
/* */
.eea-icon-glass:before {
content: "\f000";
}
.eea-icon-music:before {
content: "\f001";
}
.eea-icon-search:before {
content: "\f002";
}
.eea-icon-envelope-o:before {
content: "\f003";
}
.eea-icon-heart:before {
content: "\f004";
}
.eea-icon-star:before {
content: "\f005";
}
.eea-icon-star-o:before {
content: "\f006";
}
.eea-icon-user:before {
content: "\f007";
}
.eea-icon-film:before {
content: "\f008";
}
.eea-icon-th-large:before {
content: "\f009";
}
.eea-icon-th:before {
content: "\f00a";
}
.eea-icon-th-list:before {
content: "\f00b";
}
.eea-icon-check:before {
content: "\f00c";
}
.eea-icon-remove:before,
.eea-icon-close:before,
.eea-icon-times:before {
content: "\f00d";
}
.eea-icon-search-plus:before {
content: "\f00e";
}
.eea-icon-search-minus:before {
content: "\f010";
}
.eea-icon-power-off:before {
content: "\f011";
}
.eea-icon-signal:before {
content: "\f012";
}
.eea-icon-gear:before,
.eea-icon-cog:before {
content: "\f013";
}
.eea-icon-trash-o:before {
content: "\f014";
}
.eea-icon-home:before {
content: "\f015";
}
.eea-icon-file-o:before {
content: "\f016";
}
.eea-icon-clock-o:before {
content: "\f017";
}
.eea-icon-road:before {
content: "\f018";
}
.eea-icon-download:before {
content: "\f019";
}
.eea-icon-arrow-circle-o-down:before {
content: "\f01a";
}
.eea-icon-arrow-circle-o-up:before {
content: "\f01b";
}
.eea-icon-inbox:before {
content: "\f01c";
}
.eea-icon-play-circle-o:before {
content: "\f01d";
}
.eea-icon-rotate-right:before,
.eea-icon-repeat:before {
content: "\f01e";
}
.eea-icon-refresh:before {
content: "\f021";
}
.eea-icon-list-alt:before {
content: "\f022";
}
.eea-icon-lock:before {
content: "\f023";
}
.eea-icon-flag:before {
content: "\f024";
}
.eea-icon-headphones:before {
content: "\f025";
}
.eea-icon-volume-off:before {
content: "\f026";
}
.eea-icon-volume-down:before {
content: "\f027";
}
.eea-icon-volume-up:before {
content: "\f028";
}
.eea-icon-qrcode:before {
content: "\f029";
}
.eea-icon-barcode:before {
content: "\f02a";
}
.eea-icon-tag:before {
content: "\f02b";
}
.eea-icon-tags:before {
content: "\f02c";
}
.eea-icon-book:before {
content: "\f02d";
}
.eea-icon-bookmark:before {
content: "\f02e";
}
.eea-icon-print:before {
content: "\f02f";
}
.eea-icon-camera:before {
content: "\f030";
}
.eea-icon-font:before {
content: "\f031";
}
.eea-icon-bold:before {
content: "\f032";
}
.eea-icon-italic:before {
content: "\f033";
}
.eea-icon-text-height:before {
content: "\f034";
}
.eea-icon-text-width:before {
content: "\f035";
}
.eea-icon-align-left:before {
content: "\f036";
}
.eea-icon-align-center:before {
content: "\f037";
}
.eea-icon-align-right:before {
content: "\f038";
}
.eea-icon-align-justify:before {
content: "\f039";
}
.eea-icon-list:before {
content: "\f03a";
}
.eea-icon-dedent:before,
.eea-icon-outdent:before {
content: "\f03b";
}
.eea-icon-indent:before {
content: "\f03c";
}
.eea-icon-video-camera:before {
content: "\f03d";
}
.eea-icon-photo:before,
.eea-icon-image:before,
.eea-icon-picture-o:before {
content: "\f03e";
}
.eea-icon-pencil:before {
content: "\f040";
}
.eea-icon-map-marker:before {
content: "\f041";
}
.eea-icon-adjust:before {
content: "\f042";
}
.eea-icon-tint:before {
content: "\f043";
}
.eea-icon-edit:before,
.eea-icon-pencil-square-o:before {
content: "\f044";
}
.eea-icon-share-square-o:before {
content: "\f045";
}
.eea-icon-check-square-o:before {
content: "\f046";
}
.eea-icon-arrows:before {
content: "\f047";
}
.eea-icon-step-backward:before {
content: "\f048";
}
.eea-icon-fast-backward:before {
content: "\f049";
}
.eea-icon-backward:before {
content: "\f04a";
}
.eea-icon-play:before {
content: "\f04b";
}
.eea-icon-pause:before {
content: "\f04c";
}
.eea-icon-stop:before {
content: "\f04d";
}
.eea-icon-forward:before {
content: "\f04e";
}
.eea-icon-fast-forward:before {
content: "\f050";
}
.eea-icon-step-forward:before {
content: "\f051";
}
.eea-icon-eject:before {
content: "\f052";
}
.eea-icon-chevron-left:before {
content: "\f053";
}
.eea-icon-chevron-right:before {
content: "\f054";
}
.eea-icon-plus-circle:before {
content: "\f055";
}
.eea-icon-minus-circle:before {
content: "\f056";
}
.eea-icon-times-circle:before {
content: "\f057";
}
.eea-icon-check-circle:before {
content: "\f058";
}
.eea-icon-question-circle:before {
content: "\f059";
}
.eea-icon-info-circle:before {
content: "\f05a";
}
.eea-icon-crosshairs:before {
content: "\f05b";
}
.eea-icon-times-circle-o:before {
content: "\f05c";
}
.eea-icon-check-circle-o:before {
content: "\f05d";
}
.eea-icon-ban:before {
content: "\f05e";
}
.eea-icon-arrow-left:before {
content: "\f060";
}
.eea-icon-arrow-right:before {
content: "\f061";
}
.eea-icon-arrow-up:before {
content: "\f062";
}
.eea-icon-arrow-down:before {
content: "\f063";
}
.eea-icon-mail-forward:before,
.eea-icon-share:before {
content: "\f064";
}
.eea-icon-expand:before {
content: "\f065";
}
.eea-icon-compress:before {
content: "\f066";
}
.eea-icon-plus:before {
content: "\f067";
}
.eea-icon-minus:before {
content: "\f068";
}
.eea-icon-asterisk:before {
content: "\f069";
}
.eea-icon-exclamation-circle:before {
content: "\f06a";
}
.eea-icon-gift:before {
content: "\f06b";
}
.eea-icon-leaf:before {
content: "\f06c";
}
.eea-icon-fire:before {
content: "\f06d";
}
.eea-icon-eye:before {
content: "\f06e";
}
.eea-icon-eye-slash:before {
content: "\f070";
}
.eea-icon-warning:before,
.eea-icon-exclamation-triangle:before {
content: "\f071";
}
.eea-icon-plane:before {
content: "\f072";
}
.eea-icon-calendar:before {
content: "\f073";
}
.eea-icon-random:before {
content: "\f074";
}
.eea-icon-comment:before {
content: "\f075";
}
.eea-icon-magnet:before {
content: "\f076";
}
.eea-icon-chevron-up:before {
content: "\f077";
}
.eea-icon-chevron-down:before {
content: "\f078";
}
.eea-icon-retweet:before {
content: "\f079";
}
.eea-icon-shopping-cart:before {
content: "\f07a";
}
.eea-icon-folder:before {
content: "\f07b";
}
.eea-icon-folder-open:before {
content: "\f07c";
}
.eea-icon-arrows-v:before {
content: "\f07d";
}
.eea-icon-arrows-h:before {
content: "\f07e";
}
.eea-icon-bar-chart-o:before,
.eea-icon-bar-chart:before {
content: "\f080";
}
.eea-icon-twitter-square:before {
content: "\f081";
}
.eea-icon-facebook-square:before {
content: "\f082";
}
.eea-icon-camera-retro:before {
content: "\f083";
}
.eea-icon-key:before {
content: "\f084";
}
.eea-icon-gears:before,
.eea-icon-cogs:before {
content: "\f085";
}
.eea-icon-comments:before {
content: "\f086";
}
.eea-icon-thumbs-o-up:before {
content: "\f087";
}
.eea-icon-thumbs-o-down:before {
content: "\f088";
}
.eea-icon-star-half:before {
content: "\f089";
}
.eea-icon-heart-o:before {
content: "\f08a";
}
.eea-icon-sign-out:before {
content: "\f08b";
}
.eea-icon-linkedin-square:before {
content: "\f08c";
}
.eea-icon-thumb-tack:before {
content: "\f08d";
}
.eea-icon-external-link:before {
content: "\f08e";
}
.eea-icon-sign-in:before {
content: "\f090";
}
.eea-icon-trophy:before {
content: "\f091";
}
.eea-icon-github-square:before {
content: "\f092";
}
.eea-icon-upload:before {
content: "\f093";
}
.eea-icon-lemon-o:before {
content: "\f094";
}
.eea-icon-phone:before {
content: "\f095";
}
.eea-icon-square-o:before {
content: "\f096";
}
.eea-icon-bookmark-o:before {
content: "\f097";
}
.eea-icon-phone-square:before {
content: "\f098";
}
.eea-icon-twitter:before {
content: "\f099";
}
.eea-icon-facebook-f:before,
.eea-icon-facebook:before {
content: "\f09a";
}
.eea-icon-github:before {
content: "\f09b";
}
.eea-icon-unlock:before {
content: "\f09c";
}
.eea-icon-credit-card:before {
content: "\f09d";
}
.eea-icon-feed:before,
.eea-icon-rss:before {
content: "\f09e";
}
.eea-icon-hdd-o:before {
content: "\f0a0";
}
.eea-icon-bullhorn:before {
content: "\f0a1";
}
.eea-icon-bell:before {
content: "\f0f3";
}
.eea-icon-certificate:before {
content: "\f0a3";
}
.eea-icon-hand-o-right:before {
content: "\f0a4";
}
.eea-icon-hand-o-left:before {
content: "\f0a5";
}
.eea-icon-hand-o-up:before {
content: "\f0a6";
}
.eea-icon-hand-o-down:before {
content: "\f0a7";
}
.eea-icon-arrow-circle-left:before {
content: "\f0a8";
}
.eea-icon-arrow-circle-right:before {
content: "\f0a9";
}
.eea-icon-arrow-circle-up:before {
content: "\f0aa";
}
.eea-icon-arrow-circle-down:before {
content: "\f0ab";
}
.eea-icon-globe:before {
content: "\f0ac";
}
.eea-icon-wrench:before {
content: "\f0ad";
}
.eea-icon-tasks:before {
content: "\f0ae";
}
.eea-icon-filter:before {
content: "\f0b0";
}
.eea-icon-briefcase:before {
content: "\f0b1";
}
.eea-icon-arrows-alt:before {
content: "\f0b2";
}
.eea-icon-group:before,
.eea-icon-users:before {
content: "\f0c0";
}
.eea-icon-chain:before,
.eea-icon-link:before {
content: "\f0c1";
}
.eea-icon-cloud:before {
content: "\f0c2";
}
.eea-icon-flask:before {
content: "\f0c3";
}
.eea-icon-cut:before,
.eea-icon-scissors:before {
content: "\f0c4";
}
.eea-icon-copy:before,
.eea-icon-files-o:before {
content: "\f0c5";
}
.eea-icon-paperclip:before {
content: "\f0c6";
}
.eea-icon-save:before,
.eea-icon-floppy-o:before {
content: "\f0c7";
}
.eea-icon-square:before {
content: "\f0c8";
}
.eea-icon-navicon:before,
.eea-icon-reorder:before,
.eea-icon-bars:before {
content: "\f0c9";
}
.eea-icon-list-ul:before {
content: "\f0ca";
}
.eea-icon-list-ol:before {
content: "\f0cb";
}
.eea-icon-strikethrough:before {
content: "\f0cc";
}
.eea-icon-underline:before {
content: "\f0cd";
}
.eea-icon-table:before {
content: "\f0ce";
}
.eea-icon-magic:before {
content: "\f0d0";
}
.eea-icon-truck:before {
content: "\f0d1";
}
.eea-icon-pinterest:before {
content: "\f0d2";
}
.eea-icon-pinterest-square:before {
content: "\f0d3";
}
.eea-icon-google-plus-square:before {
content: "\f0d4";
}
.eea-icon-google-plus:before {
content: "\f0d5";
}
.eea-icon-money:before {
content: "\f0d6";
}
.eea-icon-caret-down:before {
content: "\f0d7";
}
.eea-icon-caret-up:before {
content: "\f0d8";
}
.eea-icon-caret-left:before {
content: "\f0d9";
}
.eea-icon-caret-right:before {
content: "\f0da";
}
.eea-icon-columns:before {
content: "\f0db";
}
.eea-icon-unsorted:before,
.eea-icon-sort:before {
content: "\f0dc";
}
.eea-icon-sort-down:before,
.eea-icon-sort-desc:before {
content: "\f0dd";
}
.eea-icon-sort-up:before,
.eea-icon-sort-asc:before {
content: "\f0de";
}
.eea-icon-envelope:before {
content: "\f0e0";
}
.eea-icon-linkedin:before {
content: "\f0e1";
}
.eea-icon-rotate-left:before,
.eea-icon-undo:before {
content: "\f0e2";
}
.eea-icon-legal:before,
.eea-icon-gavel:before {
content: "\f0e3";
}
.eea-icon-dashboard:before,
.eea-icon-tachometer:before {
content: "\f0e4";
}
.eea-icon-comment-o:before {
content: "\f0e5";
}
.eea-icon-comments-o:before {
content: "\f0e6";
}
.eea-icon-flash:before,
.eea-icon-bolt:before {
content: "\f0e7";
}
.eea-icon-sitemap:before {
content: "\f0e8";
}
.eea-icon-umbrella:before {
content: "\f0e9";
}
.eea-icon-paste:before,
.eea-icon-clipboard:before {
content: "\f0ea";
}
.eea-icon-lightbulb-o:before {
content: "\f0eb";
}
.eea-icon-exchange:before {
content: "\f0ec";
}
.eea-icon-cloud-download:before {
content: "\f0ed";
}
.eea-icon-cloud-upload:before {
content: "\f0ee";
}
.eea-icon-user-md:before {
content: "\f0f0";
}
.eea-icon-stethoscope:before {
content: "\f0f1";
}
.eea-icon-suitcase:before {
content: "\f0f2";
}
.eea-icon-bell-o:before {
content: "\f0a2";
}
.eea-icon-coffee:before {
content: "\f0f4";
}
.eea-icon-cutlery:before {
content: "\f0f5";
}
.eea-icon-file-text-o:before {
content: "\f0f6";
}
.eea-icon-building-o:before {
content: "\f0f7";
}
.eea-icon-hospital-o:before {
content: "\f0f8";
}
.eea-icon-ambulance:before {
content: "\f0f9";
}
.eea-icon-medkit:before {
content: "\f0fa";
}
.eea-icon-fighter-jet:before {
content: "\f0fb";
}
.eea-icon-beer:before {
content: "\f0fc";
}
.eea-icon-h-square:before {
content: "\f0fd";
}
.eea-icon-plus-square:before {
content: "\f0fe";
}
.eea-icon-angle-double-left:before {
content: "\f100";
}
.eea-icon-angle-double-right:before {
content: "\f101";
}
.eea-icon-angle-double-up:before {
content: "\f102";
}
.eea-icon-angle-double-down:before {
content: "\f103";
}
.eea-icon-angle-left:before {
content: "\f104";
}
.eea-icon-angle-right:before {
content: "\f105";
}
.eea-icon-angle-up:before {
content: "\f106";
}
.eea-icon-angle-down:before {
content: "\f107";
}
.eea-icon-desktop:before {
content: "\f108";
}
.eea-icon-laptop:before {
content: "\f109";
}
.eea-icon-tablet:before {
content: "\f10a";
}
.eea-icon-mobile-phone:before,
.eea-icon-mobile:before {
content: "\f10b";
}
.eea-icon-circle-o:before {
content: "\f10c";
}
.eea-icon-quote-left:before {
content: "\f10d";
}
.eea-icon-quote-right:before {
content: "\f10e";
}
.eea-icon-spinner:before {
content: "\f110";
}
.eea-icon-circle:before {
content: "\f111";
}
.eea-icon-mail-reply:before,
.eea-icon-reply:before {
content: "\f112";
}
.eea-icon-github-alt:before {
content: "\f113";
}
.eea-icon-folder-o:before {
content: "\f114";
}
.eea-icon-folder-open-o:before {
content: "\f115";
}
.eea-icon-smile-o:before {
content: "\f118";
}
.eea-icon-frown-o:before {
content: "\f119";
}
.eea-icon-meh-o:before {
content: "\f11a";
}
.eea-icon-gamepad:before {
content: "\f11b";
}
.eea-icon-keyboard-o:before {
content: "\f11c";
}
.eea-icon-flag-o:before {
content: "\f11d";
}
.eea-icon-flag-checkered:before {
content: "\f11e";
}
.eea-icon-terminal:before {
content: "\f120";
}
.eea-icon-code:before {
content: "\f121";
}
.eea-icon-mail-reply-all:before,
.eea-icon-reply-all:before {
content: "\f122";
}
.eea-icon-star-half-empty:before,
.eea-icon-star-half-full:before,
.eea-icon-star-half-o:before {
content: "\f123";
}
.eea-icon-location-arrow:before {
content: "\f124";
}
.eea-icon-crop:before {
content: "\f125";
}
.eea-icon-code-fork:before {
content: "\f126";
}
.eea-icon-unlink:before,
.eea-icon-chain-broken:before {
content: "\f127";
}
.eea-icon-question:before {
content: "\f128";
}
.eea-icon-info:before {
content: "\f129";
}
.eea-icon-exclamation:before {
content: "\f12a";
}
.eea-icon-superscript:before {
content: "\f12b";
}
.eea-icon-subscript:before {
content: "\f12c";
}
.eea-icon-eraser:before {
content: "\f12d";
}
.eea-icon-puzzle-piece:before {
content: "\f12e";
}
.eea-icon-microphone:before {
content: "\f130";
}
.eea-icon-microphone-slash:before {
content: "\f131";
}
.eea-icon-shield:before {
content: "\f132";
}
.eea-icon-calendar-o:before {
content: "\f133";
}
.eea-icon-fire-extinguisher:before {
content: "\f134";
}
.eea-icon-rocket:before {
content: "\f135";
}
.eea-icon-maxcdn:before {
content: "\f136";
}
.eea-icon-chevron-circle-left:before {
content: "\f137";
}
.eea-icon-chevron-circle-right:before {
content: "\f138";
}
.eea-icon-chevron-circle-up:before {
content: "\f139";
}
.eea-icon-chevron-circle-down:before {
content: "\f13a";
}
.eea-icon-html5:before {
content: "\f13b";
}
.eea-icon-css3:before {
content: "\f13c";
}
.eea-icon-anchor:before {
content: "\f13d";
}
.eea-icon-unlock-alt:before {
content: "\f13e";
}
.eea-icon-bullseye:before {
content: "\f140";
}
.eea-icon-ellipsis-h:before {
content: "\f141";
}
.eea-icon-ellipsis-v:before {
content: "\f142";
}
.eea-icon-rss-square:before {
content: "\f143";
}
.eea-icon-play-circle:before {
content: "\f144";
}
.eea-icon-ticket:before {
content: "\f145";
}
.eea-icon-minus-square:before {
content: "\f146";
}
.eea-icon-minus-square-o:before {
content: "\f147";
}
.eea-icon-level-up:before {
content: "\f148";
}
.eea-icon-level-down:before {
content: "\f149";
}
.eea-icon-check-square:before {
content: "\f14a";
}
.eea-icon-pencil-square:before {
content: "\f14b";
}
.eea-icon-external-link-square:before {
content: "\f14c";
}
.eea-icon-share-square:before {
content: "\f14d";
}
.eea-icon-compass:before {
content: "\f14e";
}
.eea-icon-toggle-down:before,
.eea-icon-caret-square-o-down:before {
content: "\f150";
}
.eea-icon-toggle-up:before,
.eea-icon-caret-square-o-up:before {
content: "\f151";
}
.eea-icon-toggle-right:before,
.eea-icon-caret-square-o-right:before {
content: "\f152";
}
.eea-icon-euro:before,
.eea-icon-eur:before {
content: "\f153";
}
.eea-icon-gbp:before {
content: "\f154";
}
.eea-icon-dollar:before,
.eea-icon-usd:before {
content: "\f155";
}
.eea-icon-rupee:before,
.eea-icon-inr:before {
content: "\f156";
}
.eea-icon-cny:before,
.eea-icon-rmb:before,
.eea-icon-yen:before,
.eea-icon-jpy:before {
content: "\f157";
}
.eea-icon-ruble:before,
.eea-icon-rouble:before,
.eea-icon-rub:before {
content: "\f158";
}
.eea-icon-won:before,
.eea-icon-krw:before {
content: "\f159";
}
.eea-icon-bitcoin:before,
.eea-icon-btc:before {
content: "\f15a";
}
.eea-icon-file:before {
content: "\f15b";
}
.eea-icon-file-text:before {
content: "\f15c";
}
.eea-icon-sort-alpha-asc:before {
content: "\f15d";
}
.eea-icon-sort-alpha-desc:before {
content: "\f15e";
}
.eea-icon-sort-amount-asc:before {
content: "\f160";
}
.eea-icon-sort-amount-desc:before {
content: "\f161";
}
.eea-icon-sort-numeric-asc:before {
content: "\f162";
}
.eea-icon-sort-numeric-desc:before {
content: "\f163";
}
.eea-icon-thumbs-up:before {
content: "\f164";
}
.eea-icon-thumbs-down:before {
content: "\f165";
}
.eea-icon-youtube-square:before {
content: "\f166";
}
.eea-icon-youtube:before {
content: "\f167";
}
.eea-icon-xing:before {
content: "\f168";
}
.eea-icon-xing-square:before {
content: "\f169";
}
.eea-icon-youtube-play:before {
content: "\f16a";
}
.eea-icon-dropbox:before {
content: "\f16b";
}
.eea-icon-stack-overflow:before {
content: "\f16c";
}
.eea-icon-instagram:before {
content: "\f16d";
}
.eea-icon-flickr:before {
content: "\f16e";
}
.eea-icon-adn:before {
content: "\f170";
}
.eea-icon-bitbucket:before {
content: "\f171";
}
.eea-icon-bitbucket-square:before {
content: "\f172";
}
.eea-icon-tumblr:before {
content: "\f173";
}
.eea-icon-tumblr-square:before {
content: "\f174";
}
.eea-icon-long-arrow-down:before {
content: "\f175";
}
.eea-icon-long-arrow-up:before {
content: "\f176";
}
.eea-icon-long-arrow-left:before {
content: "\f177";
}
.eea-icon-long-arrow-right:before {
content: "\f178";
}
.eea-icon-apple:before {
content: "\f179";
}
.eea-icon-windows:before {
content: "\f17a";
}
.eea-icon-android:before {
content: "\f17b";
}
.eea-icon-linux:before {
content: "\f17c";
}
.eea-icon-dribbble:before {
content: "\f17d";
}
.eea-icon-skype:before {
content: "\f17e";
}
.eea-icon-foursquare:before {
content: "\f180";
}
.eea-icon-trello:before {
content: "\f181";
}
.eea-icon-female:before {
content: "\f182";
}
.eea-icon-male:before {
content: "\f183";
}
.eea-icon-gittip:before,
.eea-icon-gratipay:before {
content: "\f184";
}
.eea-icon-sun-o:before {
content: "\f185";
}
.eea-icon-moon-o:before {
content: "\f186";
}
.eea-icon-archive:before {
content: "\f187";
}
.eea-icon-bug:before {
content: "\f188";
}
.eea-icon-vk:before {
content: "\f189";
}
.eea-icon-weibo:before {
content: "\f18a";
}
.eea-icon-renren:before {
content: "\f18b";
}
.eea-icon-pagelines:before {
content: "\f18c";
}
.eea-icon-stack-exchange:before {
content: "\f18d";
}
.eea-icon-arrow-circle-o-right:before {
content: "\f18e";
}
.eea-icon-arrow-circle-o-left:before {
content: "\f190";
}
.eea-icon-toggle-left:before,
.eea-icon-caret-square-o-left:before {
content: "\f191";
}
.eea-icon-dot-circle-o:before {
content: "\f192";
}
.eea-icon-wheelchair:before {
content: "\f193";
}
.eea-icon-vimeo-square:before {
content: "\f194";
}
.eea-icon-turkish-lira:before,
.eea-icon-try:before {
content: "\f195";
}
.eea-icon-plus-square-o:before {
content: "\f196";
}
.eea-icon-space-shuttle:before {
content: "\f197";
}
.eea-icon-slack:before {
content: "\f198";
}
.eea-icon-envelope-square:before {
content: "\f199";
}
.eea-icon-wordpress:before {
content: "\f19a";
}
.eea-icon-openid:before {
content: "\f19b";
}
.eea-icon-institution:before,
.eea-icon-bank:before,
.eea-icon-university:before {
content: "\f19c";
}
.eea-icon-mortar-board:before,
.eea-icon-graduation-cap:before {
content: "\f19d";
}
.eea-icon-yahoo:before {
content: "\f19e";
}
.eea-icon-google:before {
content: "\f1a0";
}
.eea-icon-reddit:before {
content: "\f1a1";
}
.eea-icon-reddit-square:before {
content: "\f1a2";
}
.eea-icon-stumbleupon-circle:before {
content: "\f1a3";
}
.eea-icon-stumbleupon:before {
content: "\f1a4";
}
.eea-icon-delicious:before {
content: "\f1a5";
}
.eea-icon-digg:before {
content: "\f1a6";
}
.eea-icon-pied-piper-pp:before {
content: "\f1a7";
}
.eea-icon-pied-piper-alt:before {
content: "\f1a8";
}
.eea-icon-drupal:before {
content: "\f1a9";
}
.eea-icon-joomla:before {
content: "\f1aa";
}
.eea-icon-language:before {
content: "\f1ab";
}
.eea-icon-fax:before {
content: "\f1ac";
}
.eea-icon-building:before {
content: "\f1ad";
}
.eea-icon-child:before {
content: "\f1ae";
}
.eea-icon-paw:before {
content: "\f1b0";
}
.eea-icon-spoon:before {
content: "\f1b1";
}
.eea-icon-cube:before {
content: "\f1b2";
}
.eea-icon-cubes:before {
content: "\f1b3";
}
.eea-icon-behance:before {
content: "\f1b4";
}
.eea-icon-behance-square:before {
content: "\f1b5";
}
.eea-icon-steam:before {
content: "\f1b6";
}
.eea-icon-steam-square:before {
content: "\f1b7";
}
.eea-icon-recycle:before {
content: "\f1b8";
}
.eea-icon-automobile:before,
.eea-icon-car:before {
content: "\f1b9";
}
.eea-icon-cab:before,
.eea-icon-taxi:before {
content: "\f1ba";
}
.eea-icon-tree:before {
content: "\f1bb";
}
.eea-icon-spotify:before {
content: "\f1bc";
}
.eea-icon-deviantart:before {
content: "\f1bd";
}
.eea-icon-soundcloud:before {
content: "\f1be";
}
.eea-icon-database:before {
content: "\f1c0";
}
.eea-icon-file-pdf-o:before {
content: "\f1c1";
}
.eea-icon-file-word-o:before {
content: "\f1c2";
}
.eea-icon-file-excel-o:before {
content: "\f1c3";
}
.eea-icon-file-powerpoint-o:before {
content: "\f1c4";
}
.eea-icon-file-photo-o:before,
.eea-icon-file-picture-o:before,
.eea-icon-file-image-o:before {
content: "\f1c5";
}
.eea-icon-file-zip-o:before,
.eea-icon-file-archive-o:before {
content: "\f1c6";
}
.eea-icon-file-sound-o:before,
.eea-icon-file-audio-o:before {
content: "\f1c7";
}
.eea-icon-file-movie-o:before,
.eea-icon-file-video-o:before {
content: "\f1c8";
}
.eea-icon-file-code-o:before {
content: "\f1c9";
}
.eea-icon-vine:before {
content: "\f1ca";
}
.eea-icon-codepen:before {
content: "\f1cb";
}
.eea-icon-jsfiddle:before {
content: "\f1cc";
}
.eea-icon-life-bouy:before,
.eea-icon-life-buoy:before,
.eea-icon-life-saver:before,
.eea-icon-support:before,
.eea-icon-life-ring:before {
content: "\f1cd";
}
.eea-icon-circle-o-notch:before {
content: "\f1ce";
}
.eea-icon-ra:before,
.eea-icon-resistance:before,
.eea-icon-rebel:before {
content: "\f1d0";
}
.eea-icon-ge:before,
.eea-icon-empire:before {
content: "\f1d1";
}
.eea-icon-git-square:before {
content: "\f1d2";
}
.eea-icon-git:before {
content: "\f1d3";
}
.eea-icon-y-combinator-square:before,
.eea-icon-yc-square:before,
.eea-icon-hacker-news:before {
content: "\f1d4";
}
.eea-icon-tencent-weibo:before {
content: "\f1d5";
}
.eea-icon-qq:before {
content: "\f1d6";
}
.eea-icon-wechat:before,
.eea-icon-weixin:before {
content: "\f1d7";
}
.eea-icon-send:before,
.eea-icon-paper-plane:before {
content: "\f1d8";
}
.eea-icon-send-o:before,
.eea-icon-paper-plane-o:before {
content: "\f1d9";
}
.eea-icon-history:before {
content: "\f1da";
}
.eea-icon-circle-thin:before {
content: "\f1db";
}
.eea-icon-header:before {
content: "\f1dc";
}
.eea-icon-paragraph:before {
content: "\f1dd";
}
.eea-icon-sliders:before {
content: "\f1de";
}
.eea-icon-share-alt:before {
content: "\f1e0";
}
.eea-icon-share-alt-square:before {
content: "\f1e1";
}
.eea-icon-bomb:before {
content: "\f1e2";
}
.eea-icon-soccer-ball-o:before,
.eea-icon-futbol-o:before {
content: "\f1e3";
}
.eea-icon-tty:before {
content: "\f1e4";
}
.eea-icon-binoculars:before {
content: "\f1e5";
}
.eea-icon-plug:before {
content: "\f1e6";
}
.eea-icon-slideshare:before {
content: "\f1e7";
}
.eea-icon-twitch:before {
content: "\f1e8";
}
.eea-icon-yelp:before {
content: "\f1e9";
}
.eea-icon-newspaper-o:before {
content: "\f1ea";
}
.eea-icon-wifi:before {
content: "\f1eb";
}
.eea-icon-calculator:before {
content: "\f1ec";
}
.eea-icon-paypal:before {
content: "\f1ed";
}
.eea-icon-google-wallet:before {
content: "\f1ee";
}
.eea-icon-cc-visa:before {
content: "\f1f0";
}
.eea-icon-cc-mastercard:before {
content: "\f1f1";
}
.eea-icon-cc-discover:before {
content: "\f1f2";
}
.eea-icon-cc-amex:before {
content: "\f1f3";
}
.eea-icon-cc-paypal:before {
content: "\f1f4";
}
.eea-icon-cc-stripe:before {
content: "\f1f5";
}
.eea-icon-bell-slash:before {
content: "\f1f6";
}
.eea-icon-bell-slash-o:before {
content: "\f1f7";
}
.eea-icon-trash:before {
content: "\f1f8";
}
.eea-icon-copyright:before {
content: "\f1f9";
}
.eea-icon-at:before {
content: "\f1fa";
}
.eea-icon-eyedropper:before {
content: "\f1fb";
}
.eea-icon-paint-brush:before {
content: "\f1fc";
}
.eea-icon-birthday-cake:before {
content: "\f1fd";
}
.eea-icon-area-chart:before {
content: "\f1fe";
}
.eea-icon-pie-chart:before {
content: "\f200";
}
.eea-icon-line-chart:before {
content: "\f201";
}
.eea-icon-lastfm:before {
content: "\f202";
}
.eea-icon-lastfm-square:before {
content: "\f203";
}
.eea-icon-toggle-off:before {
content: "\f204";
}
.eea-icon-toggle-on:before {
content: "\f205";
}
.eea-icon-bicycle:before {
content: "\f206";
}
.eea-icon-bus:before {
content: "\f207";
}
.eea-icon-ioxhost:before {
content: "\f208";
}
.eea-icon-angellist:before {
content: "\f209";
}
.eea-icon-cc:before {
content: "\f20a";
}
.eea-icon-shekel:before,
.eea-icon-sheqel:before,
.eea-icon-ils:before {
content: "\f20b";
}
.eea-icon-meanpath:before {
content: "\f20c";
}
.eea-icon-buysellads:before {
content: "\f20d";
}
.eea-icon-connectdevelop:before {
content: "\f20e";
}
.eea-icon-dashcube:before {
content: "\f210";
}
.eea-icon-forumbee:before {
content: "\f211";
}
.eea-icon-leanpub:before {
content: "\f212";
}
.eea-icon-sellsy:before {
content: "\f213";
}
.eea-icon-shirtsinbulk:before {
content: "\f214";
}
.eea-icon-simplybuilt:before {
content: "\f215";
}
.eea-icon-skyatlas:before {
content: "\f216";
}
.eea-icon-cart-plus:before {
content: "\f217";
}
.eea-icon-cart-arrow-down:before {
content: "\f218";
}
.eea-icon-diamond:before {
content: "\f219";
}
.eea-icon-ship:before {
content: "\f21a";
}
.eea-icon-user-secret:before {
content: "\f21b";
}
.eea-icon-motorcycle:before {
content: "\f21c";
}
.eea-icon-street-view:before {
content: "\f21d";
}
.eea-icon-heartbeat:before {
content: "\f21e";
}
.eea-icon-venus:before {
content: "\f221";
}
.eea-icon-mars:before {
content: "\f222";
}
.eea-icon-mercury:before {
content: "\f223";
}
.eea-icon-intersex:before,
.eea-icon-transgender:before {
content: "\f224";
}
.eea-icon-transgender-alt:before {
content: "\f225";
}
.eea-icon-venus-double:before {
content: "\f226";
}
.eea-icon-mars-double:before {
content: "\f227";
}
.eea-icon-venus-mars:before {
content: "\f228";
}
.eea-icon-mars-stroke:before {
content: "\f229";
}
.eea-icon-mars-stroke-v:before {
content: "\f22a";
}
.eea-icon-mars-stroke-h:before {
content: "\f22b";
}
.eea-icon-neuter:before {
content: "\f22c";
}
.eea-icon-genderless:before {
content: "\f22d";
}
.eea-icon-facebook-official:before {
content: "\f230";
}
.eea-icon-pinterest-p:before {
content: "\f231";
}
.eea-icon-whatsapp:before {
content: "\f232";
}
.eea-icon-server:before {
content: "\f233";
}
.eea-icon-user-plus:before {
content: "\f234";
}
.eea-icon-user-times:before {
content: "\f235";
}
.eea-icon-hotel:before,
.eea-icon-bed:before {
content: "\f236";
}
.eea-icon-viacoin:before {
content: "\f237";
}
.eea-icon-train:before {
content: "\f238";
}
.eea-icon-subway:before {
content: "\f239";
}
.eea-icon-medium:before {
content: "\f23a";
}
.eea-icon-yc:before,
.eea-icon-y-combinator:before {
content: "\f23b";
}
.eea-icon-optin-monster:before {
content: "\f23c";
}
.eea-icon-opencart:before {
content: "\f23d";
}
.eea-icon-expeditedssl:before {
content: "\f23e";
}
.eea-icon-battery-4:before,
.eea-icon-battery:before,
.eea-icon-battery-full:before {
content: "\f240";
}
.eea-icon-battery-3:before,
.eea-icon-battery-three-quarters:before {
content: "\f241";
}
.eea-icon-battery-2:before,
.eea-icon-battery-half:before {
content: "\f242";
}
.eea-icon-battery-1:before,
.eea-icon-battery-quarter:before {
content: "\f243";
}
.eea-icon-battery-0:before,
.eea-icon-battery-empty:before {
content: "\f244";
}
.eea-icon-mouse-pointer:before {
content: "\f245";
}
.eea-icon-i-cursor:before {
content: "\f246";
}
.eea-icon-object-group:before {
content: "\f247";
}
.eea-icon-object-ungroup:before {
content: "\f248";
}
.eea-icon-sticky-note:before {
content: "\f249";
}
.eea-icon-sticky-note-o:before {
content: "\f24a";
}
.eea-icon-cc-jcb:before {
content: "\f24b";
}
.eea-icon-cc-diners-club:before {
content: "\f24c";
}
.eea-icon-clone:before {
content: "\f24d";
}
.eea-icon-balance-scale:before {
content: "\f24e";
}
.eea-icon-hourglass-o:before {
content: "\f250";
}
.eea-icon-hourglass-1:before,
.eea-icon-hourglass-start:before {
content: "\f251";
}
.eea-icon-hourglass-2:before,
.eea-icon-hourglass-half:before {
content: "\f252";
}
.eea-icon-hourglass-3:before,
.eea-icon-hourglass-end:before {
content: "\f253";
}
.eea-icon-hourglass:before {
content: "\f254";
}
.eea-icon-hand-grab-o:before,
.eea-icon-hand-rock-o:before {
content: "\f255";
}
.eea-icon-hand-stop-o:before,
.eea-icon-hand-paper-o:before {
content: "\f256";
}
.eea-icon-hand-scissors-o:before {
content: "\f257";
}
.eea-icon-hand-lizard-o:before {
content: "\f258";
}
.eea-icon-hand-spock-o:before {
content: "\f259";
}
.eea-icon-hand-pointer-o:before {
content: "\f25a";
}
.eea-icon-hand-peace-o:before {
content: "\f25b";
}
.eea-icon-trademark:before {
content: "\f25c";
}
.eea-icon-registered:before {
content: "\f25d";
}
.eea-icon-creative-commons:before {
content: "\f25e";
}
.eea-icon-gg:before {
content: "\f260";
}
.eea-icon-gg-circle:before {
content: "\f261";
}
.eea-icon-tripadvisor:before {
content: "\f262";
}
.eea-icon-odnoklassniki:before {
content: "\f263";
}
.eea-icon-odnoklassniki-square:before {
content: "\f264";
}
.eea-icon-get-pocket:before {
content: "\f265";
}
.eea-icon-wikipedia-w:before {
content: "\f266";
}
.eea-icon-safari:before {
content: "\f267";
}
.eea-icon-chrome:before {
content: "\f268";
}
.eea-icon-firefox:before {
content: "\f269";
}
.eea-icon-opera:before {
content: "\f26a";
}
.eea-icon-internet-explorer:before {
content: "\f26b";
}
.eea-icon-tv:before,
.eea-icon-television:before {
content: "\f26c";
}
.eea-icon-contao:before {
content: "\f26d";
}
.eea-icon-500px:before {
content: "\f26e";
}
.eea-icon-amazon:before {
content: "\f270";
}
.eea-icon-calendar-plus-o:before {
content: "\f271";
}
.eea-icon-calendar-minus-o:before {
content: "\f272";
}
.eea-icon-calendar-times-o:before {
content: "\f273";
}
.eea-icon-calendar-check-o:before {
content: "\f274";
}
.eea-icon-industry:before {
content: "\f275";
}
.eea-icon-map-pin:before {
content: "\f276";
}
.eea-icon-map-signs:before {
content: "\f277";
}
.eea-icon-map-o:before {
content: "\f278";
}
.eea-icon-map:before {
content: "\f279";
}
.eea-icon-commenting:before {
content: "\f27a";
}
.eea-icon-commenting-o:before {
content: "\f27b";
}
.eea-icon-houzz:before {
content: "\f27c";
}
.eea-icon-vimeo:before {
content: "\f27d";
}
.eea-icon-black-tie:before {
content: "\f27e";
}
.eea-icon-fonticons:before {
content: "\f280";
}
.eea-icon-reddit-alien:before {
content: "\f281";
}
.eea-icon-edge:before {
content: "\f282";
}
.eea-icon-credit-card-alt:before {
content: "\f283";
}
.eea-icon-codiepie:before {
content: "\f284";
}
.eea-icon-modx:before {
content: "\f285";
}
.eea-icon-fort-awesome:before {
content: "\f286";
}
.eea-icon-usb:before {
content: "\f287";
}
.eea-icon-product-hunt:before {
content: "\f288";
}
.eea-icon-mixcloud:before {
content: "\f289";
}
.eea-icon-scribd:before {
content: "\f28a";
}
.eea-icon-pause-circle:before {
content: "\f28b";
}
.eea-icon-pause-circle-o:before {
content: "\f28c";
}
.eea-icon-stop-circle:before {
content: "\f28d";
}
.eea-icon-stop-circle-o:before {
content: "\f28e";
}
.eea-icon-shopping-bag:before {
content: "\f290";
}
.eea-icon-shopping-basket:before {
content: "\f291";
}
.eea-icon-hashtag:before {
content: "\f292";
}
.eea-icon-bluetooth:before {
content: "\f293";
}
.eea-icon-bluetooth-b:before {
content: "\f294";
}
.eea-icon-percent:before {
content: "\f295";
}
.eea-icon-gitlab:before {
content: "\f296";
}
.eea-icon-wpbeginner:before {
content: "\f297";
}
.eea-icon-wpforms:before {
content: "\f298";
}
.eea-icon-envira:before {
content: "\f299";
}
.eea-icon-universal-access:before {
content: "\f29a";
}
.eea-icon-wheelchair-alt:before {
content: "\f29b";
}
.eea-icon-question-circle-o:before {
content: "\f29c";
}
.eea-icon-blind:before {
content: "\f29d";
}
.eea-icon-audio-description:before {
content: "\f29e";
}
.eea-icon-volume-control-phone:before {
content: "\f2a0";
}
.eea-icon-braille:before {
content: "\f2a1";
}
.eea-icon-assistive-listening-systems:before {
content: "\f2a2";
}
.eea-icon-asl-interpreting:before,
.eea-icon-american-sign-language-interpreting:before {
content: "\f2a3";
}
.eea-icon-deafness:before,
.eea-icon-hard-of-hearing:before,
.eea-icon-deaf:before {
content: "\f2a4";
}
.eea-icon-glide:before {
content: "\f2a5";
}
.eea-icon-glide-g:before {
content: "\f2a6";
}
.eea-icon-signing:before,
.eea-icon-sign-language:before {
content: "\f2a7";
}
.eea-icon-low-vision:before {
content: "\f2a8";
}
.eea-icon-viadeo:before {
content: "\f2a9";
}
.eea-icon-viadeo-square:before {
content: "\f2aa";
}
.eea-icon-snapchat:before {
content: "\f2ab";
}
.eea-icon-snapchat-ghost:before {
content: "\f2ac";
}
.eea-icon-snapchat-square:before {
content: "\f2ad";
}
.eea-icon-pied-piper:before {
content: "\f2ae";
}
.eea-icon-first-order:before {
content: "\f2b0";
}
.eea-icon-yoast:before {
content: "\f2b1";
}
.eea-icon-themeisle:before {
content: "\f2b2";
}
.eea-icon-google-plus-circle:before,
.eea-icon-google-plus-official:before {
content: "\f2b3";
}
.eea-icon-fa:before,
.eea-icon-font-awesome:before {
content: "\f2b4";
}
.eea-icon-handshake-o:before {
content: "\f2b5";
}
.eea-icon-envelope-open:before {
content: "\f2b6";
}
.eea-icon-envelope-open-o:before {
content: "\f2b7";
}
.eea-icon-linode:before {
content: "\f2b8";
}
.eea-icon-address-book:before {
content: "\f2b9";
}
.eea-icon-address-book-o:before {
content: "\f2ba";
}
.eea-icon-vcard:before,
.eea-icon-address-card:before {
content: "\f2bb";
}
.eea-icon-vcard-o:before,
.eea-icon-address-card-o:before {
content: "\f2bc";
}
.eea-icon-user-circle:before {
content: "\f2bd";
}
.eea-icon-user-circle-o:before {
content: "\f2be";
}
.eea-icon-user-o:before {
content: "\f2c0";
}
.eea-icon-id-badge:before {
content: "\f2c1";
}
.eea-icon-drivers-license:before,
.eea-icon-id-card:before {
content: "\f2c2";
}
.eea-icon-drivers-license-o:before,
.eea-icon-id-card-o:before {
content: "\f2c3";
}
.eea-icon-quora:before {
content: "\f2c4";
}
.eea-icon-free-code-camp:before {
content: "\f2c5";
}
.eea-icon-telegram:before {
content: "\f2c6";
}
.eea-icon-thermometer-4:before,
.eea-icon-thermometer:before,
.eea-icon-thermometer-full:before {
content: "\f2c7";
}
.eea-icon-thermometer-3:before,
.eea-icon-thermometer-three-quarters:before {
content: "\f2c8";
}
.eea-icon-thermometer-2:before,
.eea-icon-thermometer-half:before {
content: "\f2c9";
}
.eea-icon-thermometer-1:before,
.eea-icon-thermometer-quarter:before {
content: "\f2ca";
}
.eea-icon-thermometer-0:before,
.eea-icon-thermometer-empty:before {
content: "\f2cb";
}
.eea-icon-shower:before {
content: "\f2cc";
}
.eea-icon-bathtub:before,
.eea-icon-s15:before,
.eea-icon-bath:before {
content: "\f2cd";
}
.eea-icon-podcast:before {
content: "\f2ce";
}
.eea-icon-window-maximize:before {
content: "\f2d0";
}
.eea-icon-window-minimize:before {
content: "\f2d1";
}
.eea-icon-window-restore:before {
content: "\f2d2";
}
.eea-icon-times-rectangle:before,
.eea-icon-window-close:before {
content: "\f2d3";
}
.eea-icon-times-rectangle-o:before,
.eea-icon-window-close-o:before {
content: "\f2d4";
}
.eea-icon-bandcamp:before {
content: "\f2d5";
}
.eea-icon-grav:before {
content: "\f2d6";
}
.eea-icon-etsy:before {
content: "\f2d7";
}
.eea-icon-imdb:before {
content: "\f2d8";
}
.eea-icon-ravelry:before {
content: "\f2d9";
}
.eea-icon-eercast:before {
content: "\f2da";
}
.eea-icon-microchip:before {
content: "\f2db";
}
.eea-icon-snowflake-o:before {
content: "\f2dc";
}
.eea-icon-superpowers:before {
content: "\f2dd";
}
.eea-icon-wpexplorer:before {
content: "\f2de";
}
.eea-icon-meetup:before {
content: "\f2e0";
}
/* */
/* */
/* */
.eea-icon {
line-height: inherit;
}
.eea-icon-block {
display: block;
line-height: initial;
}
.eea-icon-right {
float: right;
}
.eea-icon-left {
float: left;
}
.eea-icon:before {
margin:0 .3em;
}
.eea-icon.eea-icon-left {
margin-right: .3em;
}
.eea-icon.eea-icon-right {
margin-left: .3em;
}
.eea-icon-marginless:before {
margin: 0;
}
.eea-icon-xlsx:before,
.eea-icon-xls:before {
content: "\f1c3";
}
.eea-icon-pdf:before {
content: "\f1c1";
}
.eea-icon-application:before,
.eea-icon-txt:before,
.eea-icon-eeafigurefile-icon:before,
.eea-icon-doc:before {
content: "\f0f6";
}
.eea-icon-zip:before {
content: "\f1c6";
}
.eea-icon-text:before {
content: "\f1c9";
}
.eea-icon-ppt:before {
content: "\f1c4";
}
.eea-accordion-panel > h2 .eea-icon-right:before,
.eea-accordion-title > .eea-icon-right:before {
content: "\f053";
}
.eea-accordion-panel h2:hover > .eea-icon-right:before,
.eea-accordion-panel .current > .eea-icon-right:before {
content: "\f078";
}
.section-dark a, .section-dark .eea-icon, .section-dark .section-header, .colophon-section table {
color: #FFF;
}
@media screen and (max-width: 360px) {
.section-dark .eea-icon-4x {
font-size: 3em;
}
}

div.eea-section.eea-right-section-slider.eea-scrolling-toggle-visibility {
  display: none;  /* it's ugly and unuseful */
}

div.facetview_showtree_eealabel {
  padding-left: 6px;
}

div.facetedview_search span.eea-icon.eea-icon-search.eea-icon-2x {
  position: absolute;
  top: 8px;
}

div#facetview_rightcol {
  margin-top: 0px;
}
