/* remove draft watermark */
#content {
  background: white;
}

.search-app .header .main-nav-item {
    margin-bottom: 0;
}

.search-app .header .main-nav-item:hover>a {
    height: 100%;
}

.search-app div.container {
    padding-right: 0;
    padding-left: 18px;
}

.search-app .site-container {
    margin-top: 0;
}

.search-app #portal-columns {
    padding-top: 0;
}

.search-app #portal-breadcrumbs {
    margin-top: 0;
}

.fullwidth.search-app div.container {
    padding-left: 0;
    padding-right: 0;
}

.fullwidth.search-app .footer-nav-wrapper .footer-nav {
    padding-left: 0.6rem;
}

.fullwidth.search-app #content.content {
    margin: 0 !important;
    padding-bottom: 0;
}

.fullwidth.search-app .header .main-nav {
    margin-left: 0;
}

.search-app footer {
    margin-top: 0;

}

.search-app  .footer-nav-wrapper a {
    color: white;
}

.facetview_filterselected .eea-icon {
    margin-top: -2px;
}

@media handheld, screen and (max-device-width: 480px){
    input, textarea {
        font-size: 140% !important;
        font-family: inherit !important;
    }
}
