
<div><div id="header-holder">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid eea-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">&#160;</span>
                        <span class="icon-bar">&#160;</span>
                        <span class="icon-bar">&#160;</span>
                    </button>
                    <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                        <div id="portal-top">
                            <!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div id="portal-header">
    <p class="hiddenStructure">
  <a accesskey="2" href="https://www.eea.europa.eu#content">Skip to content.</a> |

  <a accesskey="6" href="https://www.eea.europa.eu/getHeader#eea-portlet-navigation-tree">Skip to navigation</a>
</p>

<div id="logo-en" class="portal-logo">

    <a href="https://www.eea.europa.eu" accesskey="1" id="portal-logo-link" title="European Environment Agency">
        <img src="/templates/img/pdflogo-web.png" alt="European Environment Agency" id="printLogo"/>
    </a>
</div>



<div id="portal-searchbox" class="portal-searchbox">
    
    <script>(function() {
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = '/templates/eea-custom-search.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
            })();</script>
    
        <div class="gsc-control-cse gsc-control-cse-en gsc-control-wrapper-cse">
            <form method="get" class="gsc-search-box gsc-search-box-tools" autocomplete="off" action="https://www.eea.europa.eu/eea-custom-search">
                <table class="gsc-search-box">
                    <tr>
                        <td class="gsc-input">
                            <div class="gsc-input-box">
                                <input type="text" name="q" class="gsc-input-query js-gsc-input-query" placeholder="Search" data-tags-url="https://www.eea.europa.eu/eea-custom-search.tags"/>
                            </div>
                        </td>
                        <td class="gsc-search-button">
                            <button class="gsc-search-button gsc-search-button-v2">
                                <span class="eea-icon eea-icon-search"><!-- empty --></span>
                            </button>
                        </td>
                        <td class="gsc-clear-button">
                            <div class="gsc-clear-button"><!-- empty --></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="eea-search-links">
            <a href="http://search.apps.eea.europa.eu" class="pull-left search_advanced_link">	
                <span>Advanced search</span>	
            </a>
            <a class="pull-right search_glossary_link" href="https://www.eea.europa.eu/help/glossary">A-Z Glossary</a>
        </div>
    

</div>


     <div id="globalnav-holder">
        <h5 class="hiddenStructure">Sections</h5>
        <ul id="portal-globalnav" class="portal-globalnav">

            
                
                    <li id="portaltab-eeahome" class="plain">
                     <a href="http://www.eea.europa.eu/" title="">
                        <span>European Environment Agency</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-themes" class="plain">
                     <a href="https://www.eea.europa.eu/themes" title="Explore by environmental topics">
                        <span>Topics</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-countries" class="plain">
                     <a href="https://www.eea.europa.eu/countries-and-regions" title="">
                        <span>Countries</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-data-and-maps" class="plain">
                     <a href="https://www.eea.europa.eu/data-and-maps" title="Environmental data, charts, maps, indicators and interactive data applications">
                        <span>Data and maps</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-indicators" class="plain">
                     <a href="https://www.eea.europa.eu/ims" title="">
                        <span>Indicators</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-reports" class="plain">
                     <a href="https://www.eea.europa.eu/publications" title="">
                        <span>Publications</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-media" class="plain">
                     <a href="https://www.eea.europa.eu/media" title="">
                        <span>Media</span>
                    </a>
                    </li>
                

                
            
                
                    <li id="portaltab-abouteea" class="plain">
                     <a href="https://www.eea.europa.eu/about-us" title="">
                        <span>About us</span>
                    </a>
                    </li>
                

                
            

        </ul>
    </div>

    <ul id="secondary-portaltabs" class="plain secondary-portaltabs">
        
            

               <li class="eea-siteaction" id="siteaction-chooselang-menu">
                   <a href="https://www.eea.europa.eu/chooselang/" target="_blank" title="EEA homepage in your language" accesskey="">
                                   <span class="eea-icon eea-icon-lg eea-icon-globe eea-icon-marginless"><!-- --></span>
                       <span class="siteaction-title">EN</span>
                   </a>
               </li>
               <li class="eea-siteaction" id="siteaction-login-menu">
                   <a href="https://www.eea.europa.eu/login/" target="_blank" title="Log in to CMS" accesskey="">
                                   <span class="eea-icon eea-icon-lg eea-icon-sign-in"><!-- --></span>
                       <span class="siteaction-title">Log in to CMS</span>
                   </a>
               </li>
               <li class="eea-siteaction" id="siteaction-search-menu">
                   <a href="http://search.apps.eea.europa.eu" target="_blank" title="Search" accesskey="">
                                   <span class="eea-icon eea-icon-lg eea-icon-search eea-icon-marginless"><!-- --></span>
                       <span class="siteaction-title">Search</span>
                   </a>
               </li>
               <li class="eea-siteaction" id="siteaction-europe-menu">
                   <a href="https://europa.eu/european-union/about-eu_en" target="_blank" title="The EEA is an agency of the European Union" accesskey="">
                                   <span class="icon-siteaction-europe-flag"><!-- --></span>
                       <span class="siteaction-title">The EEA is an agency of the European Union</span>
                   </a>
               </li>
           
        
        <li id="secondary-globalnav-tips">
            

        <div id="js-siteaction-panels">

            <div class="panel" id="tip-siteaction-chooselang-menu">
                <div class="panel-top">
                    <!-- -->
                </div>
                <div class="panel-content shadow">
                    
                    <ul id="chooselang" class="list-items">
                        
                        <li><a href="https://www.eea.europa.eu/bg" title="Bulgarian">&#1041;&#1098;&#1083;&#1075;&#1072;&#1088;&#1089;&#1082;&#1080; (bg)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/cs" title="Czech">&#269;e&#353;tina (cs)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/hr" title="Croatian">Hrvatski (hr)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/da" title="Danish">dansk (da)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/nl" title="Dutch">Nederlands (nl)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/el" title="Greek">&#949;&#955;&#955;&#951;&#957;&#953;&#954;&#940; (el)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/" title="English">English (en)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/et" title="Estonian">eesti (et)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/fi" title="Finnish">Suomi (fi)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/fr" title="French">Fran&#231;ais (fr)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/de" title="German">Deutsch (de)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/hu" title="Hungarian">magyar (hu)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/is" title="Icelandic">&#205;slenska (is)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/it" title="Italian">italiano (it)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/lv" title="Latvian">Latvie&#353;u (lv)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/lt" title="Lithuanian">lietuvi&#371; (lt)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/mt" title="Maltese">Malti (mt)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/no" title="Norwegian">Norsk (no)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/pl" title="Polish">polski (pl)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/pt" title="Portuguese">Portugu&#234;s (pt)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/ro" title="Romanian">Rom&#226;n&#259; (ro)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/sk" title="Slovak">sloven&#269;ina (sk)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/sl" title="Slovenian">Sloven&#353;&#269;ina (sl)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/es" title="Spanish">Espa&#241;ol (es)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/sv" title="Swedish">Svenska (sv)</a></li>
                        
                        <li><a href="https://www.eea.europa.eu/tr" title="Turkish">T&#252;rk&#231;e (tr)</a></li>
                        
                    </ul>
                    
                </div>
            </div>

            <div class="panel" id="tip-siteaction-search-menu">
                <div class="panel-top">
                    <!-- -->
                </div>
                <div class="panel-content shadow">
                    <div class="portal-searchbox">
                        
        <div class="gsc-control-cse gsc-control-cse-en gsc-control-wrapper-cse">
            <form method="get" class="gsc-search-box gsc-search-box-tools" autocomplete="off" action="https://www.eea.europa.eu/eea-custom-search">
                <table class="gsc-search-box">
                    <tr>
                        <td class="gsc-input">
                            <div class="gsc-input-box">
                                <input type="text" name="q" class="gsc-input-query js-gsc-input-query" placeholder="Search" data-tags-url="https://www.eea.europa.eu/eea-custom-search.tags"/>
                            </div>
                        </td>
                        <td class="gsc-search-button">
                            <button class="gsc-search-button gsc-search-button-v2">
                                <span class="eea-icon eea-icon-search"><!-- empty --></span>
                            </button>
                        </td>
                        <td class="gsc-clear-button">
                            <div class="gsc-clear-button"><!-- empty --></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="eea-search-links">
            <a href="http://search.apps.eea.europa.eu" class="pull-left search_advanced_link">	
                <span>Advanced search</span>	
            </a>
            <a class="pull-right search_glossary_link" href="https://www.eea.europa.eu/help/glossary">A-Z Glossary</a>
        </div>
    
                    </div>
                </div>
            </div>

            <div class="panel" id="tip-siteaction-login-menu">
                <div class="panel-top">
                    <!-- -->
                </div>
                <div class="panel-content shadow">
                    
                        

        <dl class="portalMessage error enable_cookies_message" style="display:none">
            <dt>Error</dt>
            <dd>Cookies are not enabled. You must enable cookies before you can log in.</dd>
        </dl>

        

        <div class="portalMessage informationMessage">
            
                <p>The EEA Web CMS works best with following browsers:</p>
                <div class="cms-browsers-links">
                    <ul>
                        <li class="cms-chrome">Google Chrome (recommended)</li>
                        <li class="cms-firefox">Firefox</li>
                    </ul>
                    <p class="discreet">Internet Explorer is not recommended for the CMS area.</p>
                </div>
            
        </div>

            <form class="enableAutoFocus login_form" method="post" action="https://www.eea.europa.eu/login_form">

                <div class="login-form">

                    <input type="hidden" name="came_from" value="https://www.eea.europa.eu"/>

                    <input type="hidden" name="next"/>

                    <input type="hidden" name="ajax_load"/>

                    <input type="hidden" name="ajax_include_head"/>

                    <input type="hidden" name="target"/>

                    <input type="hidden" name="mail_password_url"/>

                    <input type="hidden" name="join_url"/>
                    <input type="hidden" name="form.submitted" value="1"/>
                    <input type="hidden" name="js_enabled" value="0"/>
                    <input type="hidden" name="cookies_enabled" value=""/>
                    <input type="hidden" name="login_name" value=""/>
                    <input type="hidden" name="pwd_empty" value="0"/>

                    <div class="field">

                        <label rel="__ac_name">Login Name</label>

                        

                        

                        <input type="text" size="15" name="__ac_name" value=""/>

                </div>

                <div class="field">

                        <label rel="__ac_password">Password</label>

                        

                        <input type="password" size="15" name="__ac_password"/>
                </div>

                    

                    <div class="formControls">

                        <input class="context" type="submit" name="submit" value="Log in"/>

                    </div>

                </div>

            </form>

            

            

            <div class="login-forgotten-password">
                <strong>Forgot your password?</strong>
                <p class="discreet">If you have forgotten your password, <span>
                        <a href="https://www.eea.europa.eu/mail_password_form?userid=">we can send you a new one</a></span>.</p>
            </div>

            

        
                    
                </div>
            </div>

        </div>


        
        </li>
    </ul>


<script type="text/javascript">var object_archived = false;;</script>

</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>