
<div><div class="row">
    <div id="footer-wrapper">
        <div id="bg-wrapper">

                <div id="portal-footer">
                    


<div id="portletwrapper-706c6f6e652e666f6f7465720a636f6e746578740a2f7777772f534954450a706f72746c65745f666f6f7465725f73656374696f6e73" class="portletWrapper kssattr-portlethash-706c6f6e652e666f6f7465720a636f6e746578740a2f7777772f534954450a706f72746c65745f666f6f7465725f73656374696f6e73">


  
    

    <!-- eionet -->
    <div class="colophon-section section-dark section-top">
        <div class="section-centered">
        <h2 class="section-header no-anchor"><a href="https://www.eionet.europa.eu/">Eionet</a></h2>
        <a href="https://www.eionet.europa.eu/" class="text-center">European Environment Information and Observation Network (Eionet)</a>
        </div>
    </div>
     <!-- end eionet section -->


    <!-- managed sites -->
    <div class="colophon-section section-dark section-bordered">
        <div class="section-centered space-around">

            <h2 class="section-header no-anchor"><span>The EEA also contributes to</span></h2>

            <table class="left-table">
                <tr><td class="table-link-title"><a href="https://biodiversity.europa.eu/" target="_blank">BISE</a></td>
                    <td class="table-link-description">
                        <a href="https://biodiversity.europa.eu/" target="_blank">Biodiversity Information System for Europe</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-link-title">
                        <a href="https://climate-adapt.eea.europa.eu/" target="_blank">Climate-ADAPT</a>
                    </td>
                    <td class="table-link-description">
                        <a href="https://climate-adapt.eea.europa.eu/" target="_blank">Climate Adaptation Platform</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-link-title">
                        <a href="https://climate-energy.eea.europa.eu/" target="_blank">Climate-Energy</a>
                    </td>
                    <td class="table-link-description">
                        <a href="https://climate-energy.eea.europa.eu/" target="_blank">Climate and Energy in the EU</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-link-title">
                        <a href="https://insitu.copernicus.eu/" target="_blank">Copernicus In Situ</a>
                    </td>
                    <td class="table-link-description">
                        <a href="https://insitu.copernicus.eu/" target="_blank">Copernicus in situ component</a>
                    </td>
                </tr>
                <tr>
                    <td class="table-link-title">
                        <a href="https://land.copernicus.eu/" target="_blank">Copernicus Land</a>
                    </td>
                    <td class="table-link-description">
                        <a href="https://land.copernicus.eu/" target="_blank">Copernicus land monitoring</a>
                    </td>
                </tr>
            </table>

            <table class="right-table">
                <tr>
                    <td class="table-link-description">
                        <a href="https://industry.eea.europa.eu/" target="_blank">European Industrial Emissions Portal</a>
                    </td>
                    <td class="table-link-title">
                        <a href="https://industry.eea.europa.eu/" target="_blank">EIEP</a>
                    </td>
                </tr>
              <tr><td class="table-link-description"><a href="https://forest.eea.europa.eu" target="_blank">Forest Information System for Europe</a></td>
                <td class="table-link-title">
                  <a href="https://forest.eea.europa.eu" target="_blank">FISE</a>
                </td>
              </tr>
                <tr>
                    <td class="table-link-description"><a href="https://ipchem.jrc.ec.europa.eu/RDSIdiscovery/ipchem/index.html" target="_blank">Information Platform for Chemical Monitoring</a></td>
                    <td class="table-link-title">
                        <a href="https://ipchem.jrc.ec.europa.eu/RDSIdiscovery/ipchem/index.html" target="_blank">IPCHEM</a>
                    </td>
                </tr>

                <tr>
                    <td class="table-link-description"><a href="https://water.europa.eu/marine" target="_blank">Marine Water Information System for Europe</a></td>
                    <td class="table-link-title">
                        <a href="https://water.europa.eu/marine" target="_blank">WISE-Marine</a>
                    </td>
                </tr>
                <tr><td class="table-link-description"><a href="https://water.europa.eu/freshwater" target="_blank">Fresh Water Information System for Europe</a></td>
                    <td class="table-link-title">
                        <a href="https://water.europa.eu/freshwater" target="_blank">WISE-FreshWater</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
<!--  end managed sites -->

     <!-- follow us -->
    <div class="colophon-section section-dark section-bordered">

        <h2 class="section-header no-anchor">Follow us</h2>

        <div class="section-centered">

            <a class="link-plain media" title="Follow us on Twitter" href="https://twitter.com/euenvironment">
                <span class="eea-icon  eea-icon-twitter-square eea-icon-4x"><!-- --></span></a>
            <a class="link-plain media" title="Follow us on Facebook" href="https://www.facebook.com/European.Environment.Agency">
                <span class="eea-icon  eea-icon-facebook-square eea-icon-4x"><!-- --></span></a>
            <a class="link-plain media" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/european-environment-agency">
                <span class="eea-icon  eea-icon-linkedin-square eea-icon-4x"><!-- --></span></a>
            <a class="link-plain media" title="Follow us on YouTube" href="https://www.youtube.com/user/EEAvideos">
                <span class="eea-icon eea-icon-youtube-square eea-icon-4x"><!-- --></span></a>
            <a class="link-plain media" title="Subscribe to RSS Feed" href="/subscription/news-feeds">
                <span class="eea-icon eea-icon-rss-square eea-icon-4x"><!-- --></span></a>

            <div class="media">
                <a class="link-plain media-link align-center" title="Subscribe by email" href="/subscription/targeted-subscription">
                    <span class="eea-icon eea-icon-4x eea-icon-newspaper-o"><!-- --></span>
                    <div class="media-body">
                        <span>Sign up to receive our news notifications</span>
                        <br/>
                        <span>and our quarterly e-newsletter</span>
                    </div>
                </a>
            </div>

        </div>

    </div>
    <!-- end follow us -->

    <!-- contact us section -->
    <div class="colophon-section section-dark section-bordered section-contact-us">

        <div class="section-centered">

            <h2 class="section-header no-anchor"><a href="/contact-us"> Contact us </a></h2>
            <div class="media mx-2">
                <span class="eea-icon eea-icon-4x eea-icon-map-marker"><!-- --></span>
                <div class="media-body">Kongens Nytorv 6 <br/> 1050 Copenhagen K</div>
            </div>

            <div class="media mx-2">
                <span class="eea-icon eea-icon-4x eea-icon-phone"><!-- --></span>
                <div class="media-body">
                    <span>Phone number:</span>
                    <br/>
                    <a href="tel:+4533367100">(+45) 33 36 71 00</a>
                </div>
            </div>

            <div class="media mx-2">
              <a href="/contact-us">
                <span class="eea-icon eea-icon-4x eea-icon-comment"><!-- --></span>
              </a>
              <div class="media-body media-body-enquiries">
                <a class="block" href="/contact-us">Ask your question</a>
                <a href="https://www.eea.europa.eu/media/">Media enquiries</a>
              </div>
            </div>

        </div>
    </div>
    <!-- end contact us section -->



  

  

</div>


                    
                 </div>
        </div>
    </div>
</div>

<div id="portal-colophon">
    

    <div class="colophonWrapper">
        <div class="colophon-section  section-bordered">
            <div class="section-centered">
                <a href="https://europa.eu/european-union/about-eu_en">
                    <div class="media mb-0">
                    <span class="icon-siteaction-europe-flag" alt="EU flag" title="European Union Flag"><!-- empty --></span>
                        <span class="europe-agency-text">The EEA is an agency of the European Union</span>
                    </div>
                </a>
                </div>
        </div>

        <div class="colophon-section section-bordered-inversed">

            <div class="section-centered eea-software-info">
            <p class="colophon-links">
                <span class="eea-icon eea-icon-tasks"><!-- empty --></span>
                Engineered by:
                <a href="https://www.eea.europa.eu/help/contact-info">EEA Web Team</a>
            </p>
                
                <p class="colophon-links">
                    
                    Template updated on
                    <em>30 January 2023 17:43</em>
                    from version <em>23.1.17</em>
                </p>
            <p class="colophon-links">
                
                Template version:
                <a href="https://github.com/eea/eea.docker.kgs/releases">EEA Plone KGS 23.1.28</a>
            </p>

            <p class="colophon-links">
                <a href="https://www.eea.europa.eu/code" title="Code for developers">Code for developers</a>
            </p>

            <p class="colophon-links">
                    <a href="https://status.eea.europa.eu" title="Systems Status">Systems Status</a>
            </p>
                 
            <p class="colophon-links">
                <a href="https://www.eea.europa.eu/legal/">Legal notice</a>
            </p>

            <p class="colophon-links">
                <a rel="license" href="http://creativecommons.org/licenses/by/2.5/dk/deed.en_GB" title="Creative Commons Attribution License">
                    <span class="eea-icon eea-icon-creative-commons"><!-- empty --></span>
                    <span>Creative commons license</span>
                </a>
            </p>

            <p class="colophon-links">
                <a href="https://www.eea.europa.eu/login_form" title="Log in to CMS">
                    <strong>CMS login</strong></a>
            </p>

            
            </div>
        </div>
        


        

    </div>
    <!-- Matomo noscript -->
    <noscript><p><img src="https://matomo.eea.europa.eu/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt=""/></p></noscript>
    <!-- End Matomo Code -->
    
</div>










</div>