block landing
    div(class="landing_tile grid")

      p(class="mobile_tiles")
       span(class="available_content eea_tile") This catalogue provides access to 
        span(class="documents_count eea_tile_count")
            if (landingCache.documents_count)
                = landingCache.documents_count
       span(class="eea_tile topics") different types of documents about 
        span(class="topics_count eea_tile_count")
            if (landingCache.topics_count)
                = landingCache.topics_count
        |  topics
       span(class="countries eea_tile") covering 
        span(class="countries_count eea_tile_count")
            if (landingCache.countries_count)
                = landingCache.countries_count
        |  countries and
       span(class="time_coverage eea_tile") spanning from 
        span(class="time_coverage_min eea_tile_count")
            if (landingCache.time_coverage_min)
                = landingCache.time_coverage_min
        |  until 
        span(class="time_coverage_max eea_tile_count")
            if (landingCache.time_coverage_max)
                = landingCache.time_coverage_max
       span(class="organisations eea_tile") involving 
        span(class="organisations_count eea_tile_count")
            if (landingCache.organisations_count)
                = landingCache.organisations_count
        |  organisations.

      div(class="normal_tiles")
        div(class="eea_tile available_content grid-item grid-item--height2")
            div(class="eea_tile_content")
              h2 Instantly search over 20 years of environmental knowledge by EEA
              h3 Documents
              span(class="documents_count eea_tile_count")
                if (landingCache.documents_count)
                    = landingCache.documents_count
              h3 Languages
              span(class="language_count eea_tile_count")
                if (landingCache.language_count)
                    = landingCache.language_count

        div(class="eea_tile picture grid-item grid-item--height2")
          span

        div(class="eea_tile topics grid-item")
          h2 Topics
          span(class="topics_count eea_tile_count")
            if (landingCache.topics_count)
                = landingCache.topics_count

        div(class="eea_tile time_coverage grid-item grid-last-column-item")
          h2 Time coverage
          p from
            span(class="time_coverage_min eea_tile_count")
                if (landingCache.time_coverage_min)
                    = landingCache.time_coverage_min
          p until
            span(class="time_coverage_max eea_tile_count")
                if (landingCache.time_coverage_max)
                    = landingCache.time_coverage_max

        div(class="eea_tile organisations grid-item")
          h2 Organisations
          span(class="organisations_count eea_tile_count")
            if (landingCache.organisations_count)
                = landingCache.organisations_count

        div(class="eea_tile content_types grid-item")
          h2 Content types
          span(class="content_types_count eea_tile_count")
            if (landingCache.content_types_count)
                = landingCache.content_types_count

        div(class="eea_tile countries grid-item grid-item--height2")
          h2 Countries
          span(class="countries_count eea_tile_count")
            if (landingCache.countries_count)
                = landingCache.countries_count

        div(class="eea_tile latest_objects grid-item grid-item--height2 grid-last-column-item")
          h2 Recently added
          ul(class="latest_objects_list")
            if (landingCache.latest_objects_list)
                != landingCache.latest_objects_list
          a(href="#" class="show_all_results pull-right")
            strong See all results

